{{- if .Values.ui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "temporal.fullname" . }}-ui
  labels:
    {{- include "temporal.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "temporal.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: ui
{{- end }}
